@page
@model IndexModel
@{
    ViewData["Title"] = "Hjem";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til ZBC IT-Support</h1>
    <img src="~/Images/ZBC-IT-SKP.jpg" class="w-100"/>
</div>
